body {
    font-family: 'Yantramanav',sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

section {
    display: block;
}

@font-face {
    font-family: "Yantramanav";
    src: url("./fonts/Yantramanav/Yantramanav-Regular.ttf") format("truetype");
}

#menu_demandes{
    flex-direction: unset !important;
}

#partie_gauche_demande{
    border-right: 1px solid #333;
    height: 850px;
    margin-bottom: 25px;
}

@media screen and (max-width: 800px) {
    #partie_gauche_demande{
        border-right: none;
    }
}

.show-grid {
padding: 10px;
}

.show-grid .row {
margin-bottom: 15px;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
}

.titrePage {
    margin-top: 20px;
    margin-left: 20px;
}

.contenuFormulaire {
    padding-top: 20px;
    padding-left: 20px;
}

h1 {
    color: #6185ef;
}

.logoLeMansUniversite {
    width: 75%;
    margin-left: 12%;
}

/* Barre de navigation */

ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    /*top: 9em;*/
    left: 2em;
    display: inline-block;
}

ul.navbar li {
    margin-bottom: 5%;
}

ul.navbar a {
    text-decoration: none;
}

ul.navbar a:link {
    color: #fff;
    font-size: 22px;
}

ul.navbar a:visited {
    color: #fff;
}

ul.navbar a:focus {
    color: #2a3978;
}

ul.navbar a:hover {
    color: #2a3978;
}

ul.navbar a.active {
    color: #2a3978;
}

a.icon-params {
    margin-top: 40px;
    display: none;
    margin-right: 30px;
}

p.icon-params-bar {
    background-color: white;
    width: 35px;
    height: 3px;
    margin-bottom: 8px;
}


@media screen and (max-width: 800px) {
    .logoLeMansUniversite {
        width: 150px;
        margin-left: 15px;
    }

    section.menu {
        width: 100%;
        height: auto;
        /*position: relative;*/
    }

    section.menu li {
        display: none;
        margin-bottom: 0;
    }

    section.menu a.icon-params {
        float: right;
        display: block;
    }

    section.menu.responsive a.icon-params p{	
        display: none;	
    }	
    section.menu .nav-bar-header a.icon-params i {	
        display: none;	
    }	


    section.menu.responsive .nav-bar-header a.icon-params i {
        color: white;
        display: inline-block;
    }

    section.menu.responsive ul.navbar > li > a {
        padding: 20px 0 15px 50px;
        /*border-bottom: 1px solid #69739f;
        line-height: 20px;*/
        display: block;
        position: relative;
    }

    section.menu.responsive {position: relative;}
    section.menu.responsive .icon-params {
        position: absolute;
        right: 0;
        top: 0;
    }
    section.menu.responsive li {
        float: none;
        display: block;
        text-align: left;
    }
    section.menu.responsive ul.navbar {
        background-color: #db4c3b;
        width: 100%;
        display: block;
        left: 0;
        transition: all 0.3s ease-in-out;
    }

    .contenuPageDroite {
        margin-left: 0 !important;
        margin-top: 125px;
    }
}
.formulaire {
    --bs-gutter-x: -1.6em !important;
}

.menu {
    background-color: #db4c3b;
    width: 330px;
    height: 100%;
    position: fixed;
    z-index: 999;
    overflow: visible !important;
    color: #fff;
    top: 0;
    left: 0;
}

.pageDroite {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
}

.contenuPageDroite {
    margin-left: 330px;
}

.container {
    padding: 5px 20px 15px 20px;
}

input, textarea {
    margin-bottom: 20px;
}

.formulaire label,
.formulaire input,
.formulaire textarea {
    font-size: 20px;
}

.formulaire textarea {
    resize: none;
}

#visualisationFichierTitre {
    padding-bottom: 30px;
    text-align: center;
}

button {
    display: inline-block;
    width: 230px;
    padding: 13px 0;
    background: #6185ef;
    color: #fff;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    border: none;
}


.smaller-btn {
    font-size: 18px;
    padding: 10px 0;
}

.formulaire .bouton-formulaire {
    margin-top: 100px;
}

/* Page Consulter mes demandes */

.titre_cote_droit {
    padding-bottom: 25px;
    text-align: center;
    color: #6f6f6e;
    font-weight: bolder;
}

nav#menu_demandes > a{
    font-size: 24px;
}

#description_demande {
    position: relative;
}

#message_informatif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 22px;
}

#message_erreur {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 22px;
    color: red;
}

.boutons_gestion_demande {
    padding: 50px 0 20px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #6185ef;
}

.nav-link {
    color: #6185ef;
}

.nav-link:hover{
    color: #2a3978;
}

.btn-outline-primary {
    color: #6185ef;
    border-color: #6185ef;
    font-size: 20px;
    padding: 12px 0;
}

button.bouton_liste:hover {
    background-color: #6185ef;
    border-color: #2a3978;
}

button.bouton_liste.active {
    background-color: #6185ef;
    border-color: #2a3978;
}

.info_demande {
    padding-bottom: 10px;
}

.info_demande_importante {
    font-weight: bolder;
    color: #db4c3b;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: #333;
    font-weight: normal;
}

/* Page Consulter les roles */

#btn_ajouter_role {
    background: #6185ef;
    border-color: #6185ef;
}

#description_role {
    position: relative;
}

/* Prise de rdv - Utilisateur */
#message_information_redaction_mail {
    font-size: 20px;
}

.zone_redaction_mail {
    padding-bottom: 15px;
}

#prise_rdv {
    position: relative;
}

.bouton_envoyer_prise_rdv {
    padding: 20px 0 20px;
}

/* Page Liste des demandes Opérateur + Administrateur */
#priorite {
    color: red;
}